.container {
    font-family: cursive;
}

.card {
    border: none;
    background-color: none;
}

.card-footer {
    border: none;
    background-color: none;
}

.pizzaGrid {
    font-size: large;
    padding-top: 0px;
}

.pizzaGridHeader {
    font-weight: bold;
}

.specialtyPizza .card-footer{
    font-size: small;
}

.menuBackground {
    background-image: url('../../images/brickbackground1.jpeg');
}

.menuContainer {
    margin-top: 10vh;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 10px 10px 8px 5px #888888;
}

.menuContainer .card {
    padding: 10px;
}

.wingsContainer .row {
    padding-top : 10px;
}

.spacer {
    background-color: burlywood;
    height: 10vh;
}