.MobileMenuContainer {
  font-family: cursive;
  background: white;
}

.segmentHeader {
  font-size: 200%;
}

.itemDescription {
  font-size: small;
}
.pizzaRow {
  font-size: 83%;
}

.toppings {
  font-size: 83%;
}

.pizzaHeaders {
  font-weight: bold;
}
.sect {
  background: white;
  margin: auto;
  padding-top: 8vh;
}

.plus {
  height: 22px;
  width: 23px;
  float: right;
  padding-top: 3px;
}

.accordionMobile {
  background-color: white;
}

.wingDescRow {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: x-small;
}
