.aboutUs {
    background-image: url('../../images/brickbackground1.jpeg');
    height: 150vh;
}

.aboutUs .container {
    margin-top: 10vh;
    width: 80vw;
    background-color: white;
    border-radius: 30px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    box-shadow: 10px 10px 8px 5px #888888;
}

.aboutUs .container p {
    padding-left: 8vw;
    padding-right: 8vw;
    font-size: large;
}

.aboutUs img {
    width: 40vw;
}