.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mobileHomeDiv {
  flex: 1;
  background-color: burlywood;
  width: 100%;
  min-width: 320px;
}

.mobileHomeTitle {
  min-width: 200px;
  margin: 5vh auto auto auto;
  font-size: 150%;
  background-color: white;
  border: 3px solid black;
  width: 50%;
  font-family: cursive;
  padding: 15px;
}
.row {
  display: flex;
  flex-direction: column;
}
.HomeCard {
  font-family: cursive;
  margin: 5vh auto auto auto;
  border: 3px solid black;
  min-width: 225px;
  font-size: 64%;
  padding: 5px;
}
