.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mobileHomeDiv {
  padding-top: 12vh;
  flex: 1;
  background-color: burlywood;
  width: 100%;
  min-width: 320px;
}
.col {
  display: flex;
  flex-direction: column;
}
.homeCard {
  font-family: cursive;
  margin: 7vh auto auto;
  border: black;
  min-width: 220px;
  width: 85%;
  font-size: 90%;
}

#locationCard {
  margin-bottom: 12vh;
}
